<div class="PackageManifests" ng-controller="PackageManifests.EditManifest.Controller">
    <umb-load-indicator ng-if="!manifest"></umb-load-indicator>
    <form ng-if="manifest" ng-submit="saveManifest()" val-form-manager>
        <umb-editor-view ng-if="manifest">
            <umb-editor-header name="manifest.name" name-locked="true" hide-icon="true" hide-description="true" hide-alias="true"></umb-editor-header>
            <umb-editor-container class="form-horizontal">
                <umb-box>
                    <umb-box-content>
                        <umb-property ng-repeat="property in properties" property="property">
                            <umb-property-editor model="property"></umb-property-editor>
                        </umb-property>
                    </umb-box-content>
                </umb-box>
            </umb-editor-container>
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button type="submit" button-style="success" shortcut="ctrl+s" label="Save" label-key="buttons_save"></umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>