<div>
    <div ng-repeat="group in model.templateGroups">
        <h5 ng-if="model.templateGroups.length > 1">{{group.name}}</h5>
        <ul class="umb-card-grid">
            <li ng-repeat="template in group.templates" class="-four-in-row" ng-click="model.submit(template)">
                <a class="umb-card-grid-item" href="#" prevent-default>
                    <i class="{{template.icon}}"></i>
                    {{template.name}}
                </a>
            </li>
        </ul>
    </div>
</div>