<div class="Manifests" ng-controller="PackageManifests.PropertyEditors.Controller">
    <table class="table list" ng-show="model.value.length">
        <thead>
            <tr>
                <th>Icon</th>
                <th>Group</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="editor in model.value">
                <td>
                    <i class="icon {{editor.icon || 'no-icon'}}"></i>
                </td>
                <td>
                    <em ng-show="!editor.group">Unspecified</em>
                    <span ng-show="editor.group">{{editor.group}}</span>
                </td>
                <td style="width: 100%;">
                    <span class="editor-name">{{editor.name}}</span>
                    <small class="editor-alias">({{editor.alias}})</small>
                </td>
                <td>
                    <div style="white-space: nowrap;">
                        <a href="#" prevent-default ng-click="editEditor(editor)"><i class="icon icon-edit"></i></a>
                        <a href="#" prevent-default ng-click="deleteEditor($index, editor)"><i class="icon icon-delete red"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="#" prevent-default class="umb-node-preview-add" ng-click="addEditor()">Add property editor</a>
</div>