<div class="Manifests" ng-controller="PackageManifests.GridEditors.Controller">
    <table class="table list" ng-show="model.value.length">
        <thead>
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="editor in model.value">
            <td>
                <i class="icon {{editor.icon || 'no-icon'}}"></i>
            </td>
            <td style="width: 100%;">
                <span class="editor-name">{{editor.name}}</span>
                <small class="editor-alias">({{editor.alias}})</small>
            </td>
            <td>
                <div style="white-space: nowrap;">
                    <a href="#" prevent-default ng-click="editEditor(editor)"><i class="icon icon-edit"></i></a>
                    <a href="#" prevent-default ng-click="deleteEditor($index)"><i class="icon icon-delete red"></i></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="#" prevent-default class="add-link" ng-click="addEditor()">Add grid editor</a>
    <umb-overlay ng-if="overlay.show" model="overlay" position="right" view="overlay.view"></umb-overlay>
</div>